html {
	scroll-behavior: smooth;
}
* {
	box-sizing: border-box;
	user-select: none;
}
#toggle {
	display: none;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	width: 100%;
	height: 100%;
	font-size: 20px;
	scroll-behavior: smooth;
}
nav {
	width: 90%;
	margin: 0 auto;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	z-index: 99;
	background: rgba(0, 0, 0, 0.2);
}
nav .nav-wrap {
	display: flex;
	margin: 0 auto;
}
nav .nav-brand {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #eee;
}
nav .nav-brand h1 {
	font-size: 1rem;
	letter-spacing: 5px;
	font-weight: 100;
}
nav label {
	display: none;
}
nav .nav-menu {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
nav .nav-menu ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	list-style: none;
}
nav .nav-menu ul li {
	outline: none;
	margin: 0;
	padding: 0;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
}
nav ul li a {
	margin: 0 1rem;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: 200;
	color: #eee;
	text-transform: uppercase;
}
nav ul li:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.content {
	height: 100vh;
	width: 100vw;
	scroll-behavior: smooth;
	overflow-y: scroll;
}
.content-wrap {
	min-height: 100vh;
	padding: 1rem;
	background-color: rgb(199, 199, 199);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.content-wrap h1 {
	font-weight: 100;
	letter-spacing: 1px;
	text-align: center;
}
.content-wrap p {
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 2rem;
	text-align: center;
}
.center-small {
	color: #eee;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.center-small h1 {
	font-weight: 100;
	padding: 1rem;
	border: none;
	letter-spacing: 1rem;
	font-size: 3rem;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	background: rgba(0, 0, 0, 0.5);
}
.center-small h3 {
	margin: 0 auto 2rem;
	font-weight: 100;
	padding: 2rem;
	border-bottom: 1px solid #eee;
	color: black;
	letter-spacing: 1rem;
	font-size: 1.5rem;
	text-align: center;
	text-transform: uppercase;
}
.center-small h4 {
	margin: 0;
	padding: 1rem;
	font-weight: 100;
	letter-spacing: 5px;
	font-size: 2rem;
	text-align: center;
	text-transform: uppercase;
}
.center-small h5 {
	font-weight: 100;
	padding: 0;
	letter-spacing: 1px;
	font-style: italic;
	margin: 0 auto;
	width: 50%;
	font-size: 1rem;
	text-align: center;
	text-transform: uppercase;
}
.center-small p {
	font-weight: 300;
	margin: 1rem;
	padding: 1rem;
	letter-spacing: 1px;
	line-height: 2rem;
	text-align: center;
}
.img-parallax {
	background-image: url('/img/Abandoned\ \(blur\).jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	min-height: 100vh;
	position: relative;
	/* padding-top: 100px; */
	display: flex;
	justify-content: center;
	align-items: center;
}
.img-parallax-2 {
	background-image: url('/img/Mountain\(blur\).jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	min-height: 100vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	/* padding-top: 30px;
	padding-bottom: 50px; */
}
footer {
	width: 100%;
	padding: 15px;
	background-color: #121212;
	color: #eee;
	text-align: center;
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	letter-spacing: 2px;
	font-weight: 100;
	font-size: 0.7em;
}
.img-profile {
	width: 100px;
	height: 100px;
	background-image: url('/img/vaultboi.png');
	background-position: center;
	background-size: cover;
	margin: 1rem auto 0;
	box-shadow: 0 0 30px #121212;
	filter: grayscale(50%);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	-webkit-filter: grayscale(50%);
}
@media screen and (max-width: 1000px) {
	nav {
		width: 100%;
		border-radius: 0;
		background: rgba(0, 0, 0, 1);
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
	}
	.content-wrap p {
		width: 100%;
		text-align: center;
		word-break: keep-all;
		font-size: 100%;
	}

	#toggle:checked ~ .nav-menu ul {
		top: 50px;
		opacity: 1;
	}
	.nav-wrap .nav-menu label {
		display: block;
		color: #eee;
		padding: 10px;
		margin-left: 50%;
		margin-right: 0;
		font-size: 1.5rem;
		cursor: pointer;
		opacity: 0.8;
		transition: 0.5s;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-ms-transition: 0.5s;
		-o-transition: 0.5s;
	}
	nav .nav-wrap .nav-menu ul {
		display: flex;
		opacity: 0;
		flex-direction: column;
		flex-wrap: wrap;
		position: absolute;
		top: -100px;
		right: 0;
		z-index: -1;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 0;
		height: 200px;
		width: 20vw;
		margin: 0 auto;
		background: rgba(0, 0, 0, 0.9);
		justify-content: start;
		padding: 0;
		transition: 0.5s;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-ms-transition: 0.5s;
		-o-transition: 0.5s;
	}
	nav .nav-wrap .nav-menu ul li {
		text-align: center;
		margin: 20px auto;
		width: 100%;
	}
	nav .nav-wrap .nav-menu ul li a {
		display: block;
		text-align: center;
		padding: 10px auto;
	}
	nav .nav-wrap .nav-brand {
		justify-content: start;
		padding: 10px;
	}
	.nav-wrap .nav-menu label:hover {
		opacity: 1;
	}
	nav .nav-wrap .nav-menu {
		justify-content: flex-end;
	}
	.center-small {
		width: 100%;
	}
	.center-small h1 {
		width: 100%;
		font-size: 100%;
	}
	.center-small h3 {
		width: 100%;
		font-size: 20px;
		padding: 20px;
		color: #eee;
		font-weight: 500;
		text-align: center;
	}
	.center-small h4 {
		width: 100%;
		font-size: 15px;
	}
	.center-small p {
		border: none;
		width: 100%;
		font-size: 100%;
		word-break: keep-all;
	}
}
@media screen and (max-width: 400px) {
	#toggle:checked ~ .nav-menu ul {
		top: 50px;
		opacity: 1;
	}
	nav {
		background-color: #121212;
		width: 100%;
		height: 50px;
	}
	nav .nav-wrap {
		justify-content: flex-start;
		align-items: flex-start;
	}
	nav .nav-wrap .nav-brand {
		margin: 0;
		padding: 0 10px;
	}
	nav .nav-wrap .nav-menu label {
		margin: 0;
		padding: 7px 10px;
	}
	nav .nav-wrap .nav-menu ul {
		width: 100px;
		border-bottom-right-radius: 0;
	}
	.content {
		overflow-y: auto;
	}
	.content-wrap {
		font-size: 14px;
	}
	.content-wrap h1 {
		padding-top: 50px;
	}
	.content-wrap p {
		padding-bottom: 50px;
		word-break: keep-all;
		font-size: 1em;
		text-align: justify;
		text-rendering: optimizeSpeed;
		letter-spacing: normal;
		hyphens: manual;
		-webkit-hyphens: manual;
		-moz-hyphens: manual;
		-ms-hyphens: manual;
	}
	.center-small {
		width: 100%;
	}
	.center-small h1 {
		letter-spacing: 5px;
	}
	.center-small h3 {
		text-align: center;
		letter-spacing: 5px;
		color: #eee;
	}
	.center-small h4 {
		letter-spacing: 1px;
		font-size: 16px;
		font-weight: 500;
		word-wrap: break-word;
		word-break: break-all;
	}
	.center-small h5 {
		letter-spacing: 1px;
		font-size: 14px;
		word-wrap: break-word;
		word-break: break-all;
	}
	.center-small p {
		border: none;
		font-size: 0.9rem;
		text-rendering: optimizeLegibility;
		margin: 0 auto;
		word-break: keep-all;
		text-align: center;
	}
}
