:root {
	--color-grey: #eeeeee;
	--color-white: #ffffff;
	--color-yellow: #fddb3a;
	--color-dark: #222831;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

html,
body {
	position: relative;
	font-size: 14px;
	scroll-behavior: smooth;
	font-family: 'Fredoka One', cursive;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

.scroll {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 900;
	padding: 10px;
	border: 2px solid var(--color-dark);
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}

.show {
	opacity: 1;
	visibility: visible;
}

.anim {
	animation: animove 0.4s infinite alternate;
	-webkit-animation: animove 0.4s infinite alternate;
	margin: 0 10px;
}

.yellow {
	background-color: var(--color-yellow);
}

.white {
	background-color: var(--color-white);
}

.black {
	background-color: var(--color-dark);
	color: var(--color-grey);
}

.grey {
	background-color: var(--color-grey);
	color: var(--color-dark);
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.f-dir-column {
	flex-direction: column;
}

.text-center {
	text-align: center;
}

.bordered {
	border: 1px solid var(--color-dark);
	color: var(--color-dark);
	background: transparent;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
}

.w-30 {
	width: 40%;
}

.lspace-1 {
	letter-spacing: 1px;
}

.fulled {
	min-height: 100vh;
}

#link-below {
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}

#link-below:hover {
	background-color: var(--color-yellow);
	border: 1px solid transparent;
}

.link {
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	padding: 10px;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	cursor: pointer;
	user-select: none;
}

/* nav-start */
nav {
	position: fixed;
	right: 45%;
	top: 5px;
	left: 45%;
	z-index: 99;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	border: 2px solid var(--color-white);
	animation: animenter 0.5s;
	-webkit-animation: animenter 0.5s;
}

.list {
	width: 100%;
}

.list .link {
	color: var(--color-grey);
	font-size: 1.2em;
}

.list .link:hover {
	color: var(--color-yellow);
}

.list .link.active {
	color: var(--color-yellow);
}

/* nav-end */

.main-wrap {
	min-height: 100vh;
	position: relative;

}

.content {
	width: 70%;
	animation: animenter 0.5s;
	-webkit-animation: animenter 0.5s;
}

.detail {
	flex: 1;
	text-align: start;
	padding: 1em;
}

.detail h1 {
	font-size: 3em;
	margin: 1rem auto 0;
}

.detail p {
	margin: 1rem auto;
	font-size: 1.2em;
	line-height: 30px;
}

.detail p a {
	text-decoration: none;
	color: inherit;
	font-weight: 800;
	letter-spacing: 1px;
	border-bottom: 2px solid;
}

.detail .below {
	font-style: italic;
	font-size: 1.5rem;
	margin: 0 auto;
}

.picture {
	flex: 0.5;
}

.picture .image {
	height: 200px;
	width: 200px;
	background-image: url('/aset/profile.jpg');
	background-size: cover;
	background-position: center;
	border: 5px solid var(--color-white);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	box-shadow: -5px 10px 20px rgba(0, 0, 0, 0.5), inset 0 0 20px rgba(0, 0, 0, 1);
	position: relative;
}

/* skillbar */
.skillbar {
	display: flexbox;
	display: flex;
	flex-direction: column;
	flex: 1;
	width: 100%;
}

.skillbar .skill-group {
	margin: 1em auto 0;
	background: transparent;
	width: 100%;
}

.skillbar .skill-group p {
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 1.3em;
	margin-bottom: 2em;
}

.skillbar .skill-group .bar {
	position: relative;
	margin-bottom: 2em;
	padding: 0 5px;
	height: 20px;
	width: 100%;
	border: 1px solid var(--color-grey);
	border-radius: 10px 0 0 10px;
	-webkit-border-radius: 10px 0 0 10px;
	-moz-border-radius: 10px 0 0 10px;
	-ms-border-radius: 10px 0 0 10px;
	-o-border-radius: 10px 0 0 10px;
}

.skillbar .skill-group .bar .fill {
	position: absolute;
	top: 5px;
	bottom: 5px;
	background-color: var(--color-yellow);
	box-shadow: 0 0 5px var(--color-yellow);
	border-radius: 10px 0 0 10px;
	-webkit-border-radius: 10px 0 0 10px;
	-moz-border-radius: 10px 0 0 10px;
	-ms-border-radius: 10px 0 0 10px;
	-o-border-radius: 10px 0 0 10px;
}

.skillbar .skill-group .bar .fill::after {
	content: '';
	position: absolute;
	top: -15px;
	right: -5px;
	border: 5px solid transparent;
	border-top: 10px solid var(--color-grey);
}

.skillbar .skill-group .bar .number {
	/* content: attr(data-width) '%'; */
	text-align: center;
	position: absolute;
	top: -40px;
	right: -20px;
	font-size: 0.9em;
	padding: 5px;
	height: 25px;
	width: 40px;
	color: var(--color-dark);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	background: var(--color-grey);
}

/* skillbar-end */

/* footer */
footer {
	background-color: #202020;
	color: #eee;
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px 0;
}

.footer-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
}

.contact-group {
	padding: 10px;
}

.contact-group a {
	text-decoration: none;
	font-size: 1.2em;
	color: #eee;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}

.contact-group a:hover {
	color: var(--color-yellow);
}

footer p {
	margin: 1em auto;
}

.footer-wrap {
	font-size: 1.5em;
}

@media screen and (max-width: 1130px) {
	#link-below {
		width: 50%;
	}

	nav {
		left: 40%;
		right: 40%;
	}

	.content {
		width: 90%;
	}

}

@media screen and (max-width: 876px) {
	#link-below {
		width: 100%;
		margin-bottom: 50px;
		background: var(--color-yellow);
		border: 1px solid transparent;
	}

	#last {
		margin-bottom: 20px;
	}

	nav {
		display: none;
	}

	.content {
		flex-direction: column;
		margin-top: 1rem;
	}

	.content>* {
		text-align: center;
	}

	.detail {
		order: 2;
	}

	.detail .below {
		font-size: 1.15em;
	}

	.detail .dummy {
		font-size: 0.9em;
	}

	.picture {
		order: 1;
	}

	.skillbar {
		order: 3;
	}
}

@media screen and (max-width: 356px) {
	.content {
		width: 100%;
		padding: 0 10px;
	}

	.footer-wrap {
		height: 100%;
	}
}

@media screen and (max-width: 254px) {
	#link-below i {
		display: none;
	}

	.content {
		padding: 0;
	}

	.picture .image {
		height: 100px;
		width: 100px;
	}
}

@media screen and (max-width: 154px) {
	* {
		display: none;
	}
}

@keyframes animenter {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes animove {
	from {
		transform: translateY(-1px);
		-webkit-transform: translateY(-1px);
		-moz-transform: translateY(-1px);
		-ms-transform: translateY(-1px);
		-o-transform: translateY(-1px);
	}

	to {
		transform: translateY(2px);
		-webkit-transform: translateY(2px);
		-moz-transform: translateY(2px);
		-ms-transform: translateY(2px);
		-o-transform: translateY(2px);
	}
}